RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteRule ^(core|controllers|models|views)/ index.php [L]
RewriteRule \.(htaccess|ini|php)$ index.php [L]